<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>My Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- side navbar -->
    <div class="side-nav" id="nav-toggle">
        <a href="" class="hamburger" onclick="closeNav()"><i class="fas fa-times fa-2x mb-3"></i></a>
        <div class="side-nav-inner">
            <a href="/user_dash" class="text-dark"><i class="text-dark fas fa-home"></i> My Dashboard</a>
            <a href="/user_profile" class="text-dark"><i class="text-dark fas fa-user-circle"></i> My Profile</a>
            <a href="/feed" class="text-dark"><i class="text-dark fas fa-user-friends"></i> My Feed</a>
            <a href="/user_account" class="text-dark"><i class="text-dark fas fa-address-card"></i> My Account</a>
            <a href="/user_analytics" class="text-dark"><i class="text-dark fas fa-chart-bar"></i> My Analytics</a>
        </div>
    </div>
            <!-- navbar top-->
    <div id="all-content">
        <nav class="navbar navbar-expand pinstripe">
            <a role="button" class=" mr-3 btn" onclick="openNav()"><i class="text-hamburger fas fa-bars fa-2x"></i></a>
            <div class="container">
                <a href="/" class="navbar-brand text-dark px-3 py-2 font-weight-bold ">MyTrade <i class="fas fa-piggy-bank"></i></a>
                <ul class="navbar-nav">
                    <li><a href="/logout" role="button" class="btn btn-dark nav-item mr-1 font-weight-bold">Logout <i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- profile -->
        <div class="wrapper-left profile font-weight-bold">
            <div class="inner-profile text-center pt-2 border rounded p-3 my-3 bg-light">
                <div class="avatar p-3 mb-1">
                    <i class=" fas {{user.avatar}} fa-3x"></i>
                </div>
                <h3 class="font-weight-bold">@{{ user.username}}</h3>
                <a href="" class="text-info">{{user.posts.count}}</a> <span class="brand">Posts</span>
                <p class="mt-2">{{user.bio}}</p>
                <p>Joined {{ user.created_at|date:"M d, Y"  }}</p>
            </div>
        </div><div class="wrapper-right font-weight-bold">
            <div class="posts font-weight-bold p-4">
                <!-- posts -->
                <h3 class="mb-3 font-weight-bold">{{user.first_name}}'s Posts</h3>
                {% for post in user_posts %}
                <div class="post border rounded p-2 mb-1 bg-light">
                    <a href="/view_profile/{{post.poster.id}}" class="h5 text-dark">@{{ post.poster.username }}</a>
                    <span class="text-dark like">{{post.user_who_liked.count}} <i class="fas fa-heart"></i></span>
                    <p class="text-dark px-2 mt-1">{{post.content}}</p>    
                </div>
                <!-- comments -->
                {% for comment in post.comments.all %}
                <div class="comment border rounded p-2 mb-1 bg-light">
                    <a href="/view_profile/{{comment.commenter.id}}" class="h6 text-dark">@{{ comment.commenter.username}}</a>
                    <p class="text-dark px-2 mt-1">{{comment.content}}</p>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/index.js' %}"></script>
</html>